@charset "UTF-8";
@media screen and (max-width: 1024px) {
  body::-webkit-scrollbar {
    display: none;
  }

  /* 레이아웃 */
  .wrap {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .header .top {
    max-width: 100%;
    height: 60px;
    padding: 13px 0;
    border-bottom: 1px solid #ddd;
  }
  .header .top .logo {
    width: 83px;
    height: 32px;
    margin: 0 auto;
  }
  .header .top .ham {
    display: block;
    z-index: 100;
  }

  /* 모바일 헤더 */

  .header .top .background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.9;
    z-index: 100;
    /* transition: 0.5s; */
  }

  .header .top .sidenav {
    height: 100%;
    /* width: 80%; */
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #3ec4ba;
    overflow-x: hidden;
    padding-top: 60px;
    z-index: 100;
    transition: 0.5s;
  }

  .header .top .sidenav .m-menu-my {
    padding-left: 15px;
  }

  .header .top .sidenav .m-menu-my a {
    display: inline-block;
    width: 140px;
    height: 50px;
    /* padding-left: 40px; */
  }

  .header .top .sidenav .m-menu-my li {
    font-family: "SBAggroM", "sans-serif";
  }

  .header .top .sidenav .m-menu-my .m-menu-my-boder {
    border: solid 1px #fff;
    margin-left: 50px;
  }

  .header .top .sidenav .m-menu-child li {
    display: inline-block;
    font-size: 20px;
    width: 100%;
    background: url("../recources/imgs/icon-arwham.png") no-repeat;
    background-position: 97% 50%;
  }

  .header .top .sidenav .m-menu-child li:first-child {
  }

  .header .top .sidenav .m-menu-child img {
    float: right;
    top: 2px;
  }

  .header .top .sidenav .m-menu-child a {
    width: 100%;
    border-bottom: solid 1px #f0f0f0;
  }

  .header .top .sidenav a {
    padding: 8px 8px 8px 14px;
    text-decoration: none;
    display: block;
  }

  .header .top .sidenav li {
    font-family: "SBAggrol", "sans-serif";
    padding: 8px 8px 8px 14px;
    font-size: 18px;
    color: #fff;
    transition: 0.3s;
    text-align: left;
  }

  .header .top .sidenav li b {
    font-family: "SBAggroM", "sans-serif";
    /* line-height: 70px; */
  }

  .header .top .sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
  }

  /* 모바일헤더 끝 */

  .header .top .menu {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 90px;
    display: flex;
  }
  .header .top .menu li {
    margin-right: 0px;
  }
  .header .top .menu li a {
    width: 30px;
    height: 30px;
  }
  .header .top .menu li:last-child {
    display: none;
  }

  .header .btm {
    display: none;
  }

  .header .top .menu .conunt {
    width: 16px;
    height: 16px;
    position: absolute;
    margin-left: 18px;
    margin-top: 2px;
  }

  .header .top .menu .conunt p {
    font-size: 12px;
    color: #fff;
    margin-left: 5px;
    margin-top: 0px;
  }

  /* 오픈전 메뉴 */
  .header .top .menu2 {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 28px;
    display: flex;
  }
  .header .top .menu2 li {
    margin-right: 0px;
  }
  .header .top .menu2 li a {
    width: 30px;
    height: 30px;
  }
  .header .top .menu2 li:last-child {
    display: none;
  }

  .header .btm {
    display: none;
  }

  .sub-container {
    display: block;
    max-width: 100%;
    padding: 20px 20px 150px 20px;
    margin: 0 auto;
  }
  .footer {
    font-size: 12px;
  }
  .footer .head {
    max-width: 100%;
    padding: 15px 20px;
  }
  .footer .head li,
  .footer .bottom .con_01 .title {
    font-size: 15px;
  }
  .footer .bottom {
    max-width: 100%;
    padding: 25px 20px;
  }
  .footer .bottom .con_01 {
    display: block;
    margin-right: 0px;
  }
  .footer .bottom .con_01:first-child {
    margin-bottom: 20px;
  }
  .footer .bottom .con_01 ul {
    margin-top: 10px;
  }
  .footer .bottom .logo_f {
    width: 46px;
    height: 52px;
    background: url("../recources/logo-2.png") no-repeat top center;
    background-size: 100% auto;
    position: absolute;
    top: 150px;
    right: 20px;
  }
  .tabar {
    display: block;
  }

  /* text */
  h2 {
    font-size: 18px;
  }
  h3 {
  }
  h4 {
  }
  .text_02 {
    font-size: 15px;
    max-width: 100%;
    margin-top: 10px;
  }
  .text_03 {
    font-size: 15px;
    max-width: 100%;
    margin-top: 35px;
  }
  .text_04 h2 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    line-height: 1.5em;
  }

  /* 공통 */
  .location {
    display: none;
  }
  .title_area h2 {
    margin-top: 15px;
  }
  .title_area_01 h2 {
    font-size: 18px;
    margin-top: 15px;
  }

  .title_area .title_img {
    margin-top: 30px;
    width: 100%;
    height: 250px;
    background: url("../recources/imgs/list_title_pc.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
  }

  .line_14 {
    max-width: 100%;
    padding: 4px;
    margin-top: 15px;
  }
  .line_14-100 {
    width: 100%;
    padding: 4px;
    background: #000;
    margin-top: 15px;
  }

  /* 메인 컨테이너 */
  .main-container .visual {
    width: 100%;
    height: 360px;
  }
  /* .main-container .visual .test {
    width: 100%;
    height: 350px;
    background: url("../recources/bg/img-mainvisual-p-01.png") no-repeat center
      top;
    background-size: cover;
  } */
  .main-container .visual .test .swiper {
    width: 100%;
    height: 350px;
  }
  .main-container .mbox_1280,
  .main-container .mbox_100 .inner {
    padding: 35px 20px;
  }

  /* .main-container .mbox_100 .sale {
    padding: 0px 0px 40px 41px;
  } */

  .main-container .mbox_1280 .swiper .swiper-slide .slide-best {
    border: 6px solid #cccccc;
  }

  .main-container .mbox_1280 .swiper .swiper-slide .sub-img {
    width: 240px;
    height: 240px;
  }

  .main-container .mbox_1280 .swiper-button-prev-1 {
    display: none;
  }

  .main-container .mbox_1280 .swiper-button-next-1 {
    display: none;
  }

  .main-container .mbox_100 .swiper-button-next-2 {
    display: none;
  }

  .main-container .mbox_100 .swiper-button-prev-2 {
    display: none;
  }

  /********** 서브페이지 시작 **********/

  /* 평가단 */
  .eval .board .board_wrap .list .thumb {
    width: 240px;
    height: 120px;
  }
  .eval .board .board_wrap .list .thumb img {
    width: 100%;
    height: 100%;
  }
  .eval .board .board_wrap .list .body {
    width: calc(100% - 240px - 150px);
    height: 120px;
    padding: 15px 20px;
  }
  .eval .board .board_wrap .list .body .title {
    max-width: 360px;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
  }
  .eval .board .board_wrap .list .body dl {
    margin-top: 5px;
    font-size: 14px;
  }
  .eval .board .board_wrap .list .btn_area {
    width: 150px;
    height: 120px;
  }
  .eval .board .board_wrap .list .btn_area a {
    width: 100%;
    height: 100%;
  }
  .eval .board .board_wrap .list .btn_area button {
    width: 110px;
    height: 80px;
  }
  .eval .board .paging {
    width: 320px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin: 0 auto;
    margin-top: 40px;
  }
  .eval .board .paging a {
    width: 60px;
    padding: 13px 13px 12px 13px;
    border: solid 2px #000;
    display: inline-block;
  }
  .eval .board .paging div {
    display: inline-block;
    width: 120px;
    padding: 13px 13px 12px 13px;
  }

  .eval .board .board_wrap .information {
    padding: 20px 0 30px 0;
    /* 20px 0 30px 0; */
    border-bottom: 1px solid #ddd;
    font-size: 16px;
  }

  .eval .board .board_wrap .information .information-input {
    /* line-height: 145px; */
    flex-direction: column; /*수직 정렬*/
  }

  .eval .board .board_wrap .information .information-input textarea {
    width: 100%;
    height: 145px;
    /* line-height: 145px; */
    padding-top: 10px;
    caret-color: #ddd;
  }

  .eval .board .board_wrap .information-01 .information-input {
    flex-direction: column; /*수직 정렬*/
  }

  .eval .board .board_wrap .information_01 .information-input textarea {
    width: 100%;
    height: 48px;
    /* line-height: 145px; */
    caret-color: #ddd;
    margin-left: 0px;
  }

  .eval
    .board
    .board_wrap
    .information_01
    .information-inner-01
    .information-input
    textarea::placeholder {
    padding: 0px 0px 0px 10px;
    color: #aeaeae;
  }

  /* 마이페이지 */

  .mypage .mypage_wrap {
    padding: 0;
  }

  .mypage .mypage_inner_01 {
    width: 100%;
    height: 180px;
    position: relative;
  }

  .mypage .mypage_inner_01 .mypage_innerbox_01 {
  }

  .mypage .mypage_inner_01 .mypage_innerbox_02 {
  }

  .mypage .mypage_inner_01 .mypage_box {
    width: 50%;
    height: 160px;
    background-color: #f8f8f8;
    border: solid 2px #ddd;
    float: left;
    display: block;
    text-align: center;
    padding: 20px 20px 0 0;
    float: left;
    box-sizing: border-box;
    /* border-right: none; */
  }

  .mypage .mypage_box_02 .text {
    width: 250px;
  }

  .mypage .mypage_box_02 .text span:last-child {
    position: absolute;
  }
  .mypage .mypage_inner_01 .mypage_box:nth-child(1) {
    border-right: none;
    border-bottom: none;
  }
  .mypage .mypage_inner_01 .mypage_box:nth-child(2) {
    border-bottom: none;
  }

  .mypage .mypage_inner_01 .mypage_box.solid {
    border-bottom: solid 2px #ddd;
  }

  /* 평가단 신청 리스트 */
  .title_area.list h2 {
    font-size: 16px;
  }

  .eval .board.mypage_list .board_wrap .list {
    width: 100%;
    display: flex;
  }

  .eval .board.mypage_list .board_wrap .list .body {
    height: 100%;
    max-height: 85px;
    padding: 10px 0 10px 0;
    font-size: 16px;
  }

  .eval .board.mypage_list .board_wrap .list .body .title {
    max-width: 202px;
    font-size: 14px;
  }

  .eval .board.mypage_list .board_wrap .list .title_sub {
    width: 100%;
    padding: 30px 10px 10px 10px;
    text-align: right;
    position: relative;
    font-size: 15px;
  }

  /* 회원정보 수정 */
  .eval
    .board.mypage_list
    .board_wrap
    .list
    .information.user_list
    li:first-child {
    width: 24%;
    padding-right: 0;
  }

  /* 1:1 문의 내역 답변 (view) */

  .eval .board.mypage_list .board_wrap .list.view {
    padding: 10px 0 10px 0;
  }

  /* .eval .board.mypage_list .board_wrap .list.view .body {
  margin: 0 0 20px 0;
} */

  .eval .board.mypage_list .board_wrap .list.view .title_sub a {
    margin: 0;
  }

  .eval .board.mypage_list .board_wrap .list.view .body {
    width: 100%;
    height: 100%;
  }

  .eval .board.mypage_list .board_wrap .list.view .body.view {
    width: 100%;
    height: 100%;
    margin: 10px 0 70px 0;
  }

  .eval .board.mypage_list .board_wrap .list.view .body .title03 {
    width: 110%;
    max-width: 700px;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .eval .board.mypage_list .board_wrap .list.view .body.view .ordernumber {
    width: 100%;
    height: 44px;
    background: #f8f8f8;
    border: solid 2px #ddd;
    padding: 10px 20px;
    font-size: 16px;
  }

  .eval .board.mypage_list .board_wrap .list.view .body.view .view_text {
    margin: 30px 0 50px 0;
  }

  .eval .board.mypage_list .board_wrap .list.view .body.view .view_icon {
    background: url("../recources/icons/view.png") no-repeat left;
    width: 100%;
    height: 16px;
    background-size: 16px 16px;
  }

  .eval .board.mypage_list .board_wrap .list.view .body.view .view_icon h4 {
    margin-left: 21px;
    font-weight: bold;
  }

  .eval .board.mypage_list .board_wrap .list.view .body.view .view_text_02 {
    margin: 30px 0 0 0;
    padding-left: 20px;
  }

  .eval
    .board.mypage_list
    .board_wrap
    .list.view
    .body.view
    .view_text_02
    .day {
    padding-top: 23px;
  }

  /* 1:1 문의 내역 답변 (list) */
  .eval .board .board_wrap .list .body .title p {
    font-size: 10px;
    font-weight: 600;
  }

  /* 회원탈퇴  */

  .eval .board .board_wrap.secession_content {
    width: 100%;
    padding: 20px 0 20px 0;
  }
}

@media screen and (max-width: 768px) {
  /* 모달 */

  .modal .modal-dialog {
    width: 100%;
    height: 100%;
    max-width: 480px;
    max-height: 500px;
    background-color: #fff;
    margin: 0;
    /* padding: 10px 10px 0 5px; */
    position: fixed;
    /* border-radius: 2rem; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-dialog-contents .btn.btn00 .modal-dialog.btn.small01 {
    border-top: solid 2px #ddd;
    width: 50%;
    margin-top: 0;
    left: 0;
    /* margin-left: 170px; */
    font-size: 16px;
    font-weight: bold;
    color: #707070;
  }

  .modal-dialog-contents .btn.btn00 .modal-dialog.btn.small02 {
    background: #3ec4ba;
    color: #fff;
    width: 50%;
    margin-top: 0;
    right: 0;
    /* margin-left: 170px; */
    font-size: 16px;
    font-weight: bold;
  }

  .modal .modal-container {
    width: 100%;
    height: 100%;
    max-width: 480px;
    max-height: 500px;
    background-color: #fff;
    margin: 0;
    /* padding: 10px 10px 0 5px; */
    position: fixed;
    /* border-radius: 2rem; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal .modal-container .modal-container-body {
    padding: 20px;
    line-height: 1.5em;
  }

  .modal .btn.btn_2ea {
    width: 100%;
    max-width: 480px;
  }

  .modal .modal-container .modal-container-body .none {
    text-align: center;
    padding: 145px 0;
  }

  .modal-container-body .adress_input label {
    width: 100%;
    max-width: 110px;
    margin-bottom: 8px;
    font-size: 16px;
    margin-right: 10px;
    top: 6px;
  }

  .modal-container-body .adress_input input {
    width: 100%;
    max-width: 370px;
    height: 48px;
  }

  .modal-container-body .adress_input .adress_input03 {
    width: 100%;
    max-width: 100px;
    height: 48px;
  }

  .modal-container-body .adress_input label .adress_input03_btn {
    width: 91px;
    height: 48px;
    border: solid 2px #3ec4ba;
    background: #fff;
    font-size: 13px;
    font-weight: bold;
    color: #3ec4ba;
    margin: 0;
  }

  .modal-container-body .adress_input .adress_input04 {
    margin-left: 60px;
  }

  /* 휴대전화번호 변경 모달 */

  .modal .modal-container.num {
    width: 100%;
    height: 100%;
    max-width: 480px;
    max-height: 400px;
  }

  .modal .modal-container .modal-container-body.num .phonnum_input input {
    width: 100%;
    max-width: 291px;
    height: 48px;
    /* line-height: 145px; */
    border: solid 2px #ddd;
    caret-color: #ddd;
    margin-top: 10px;
  }

  /* 공통 */
  .title_area .title_img {
    margin-top: 30px;
    width: 100%;
    height: 190px;
    background: url("../recources/imgs/list_title_pc.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
  }

  /* 레이아웃 */
  .sub-container {
    display: block;
    max-width: 100%;
    padding: 20px 20px 150px 20px;
    margin: 0 auto;
  }
  /* 메인 컨테이너 */
  .main-container .visual {
    width: 100%;
    height: 250px;
  }

  /* .main-container .visual .test {
    width: 100%;
    height: 250px;
    background: url("../recources/bg/img-mainvisual-p-01.png") no-repeat center
      top;
    background-size: cover;
  } */

  .main-container .visual .test .swiper {
    width: 100%;
    height: 250px;
  }

  .main-container .visual .test .swiper-slide .pc {
    display: none;
  }
  
  .main-container .visual .test .swiper-slide .mo {
    display: block;
  }
  

  .main-container .mbox_1280 .swiper-button-prev-1 {
    display: none;
  }

  .main-container .mbox_1280 .swiper-button-next-1 {
    display: none;
  }

  .main-container .mbox_1280 .swiper .swiper-slide .slide-best {
    border: 6px solid #cccccc;
  }

  .main-container .mbox_1280 .swiper .swiper-slide .sub-img {
    width: 190px;
    height: 190px;
  }

  .main-container .mbox_1280,
  .main-container .mbox_100 .inner {
    padding: 35px 0 20px 20px;
  }

  .main-container .mbox_100 .swiper-button-next-2 {
    display: none;
  }

  .main-container .mbox_100 .swiper-button-prev-2 {
    display: none;
  }

  .main-container .mbox_1280 .test .swiper-slide .pc {
    display: none;
  }
  
  .main-container .mbox_1280 .test .swiper-slide .mo {
    display: block;
  }

  /********** 서브페이지 시작 **********/
  /* 평가단 */
  .eval .board .board_wrap {
    width: 100%;
  }
  .eval .board .board_wrap .list {
    display: inline-block;
    width: 49.3%;
  }
  .eval .board .board_wrap .list:nth-child(2n) {
    margin-left: 3px;
  }
  .eval .board .board_wrap .list .thumb {
    width: 100%;
    height: auto;
    display: block;
  }
  .eval .board .board_wrap .list .thumb img {
    width: 100%;
  }
  .eval .board .board_wrap .list .body {
    display: block;
    width: 100%;
    height: 120px;
    padding: 15px;
  }
  .eval .board .board_wrap .list .body .title {
    max-width: 360px;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    height: 39px;
  }
  .eval .board .board_wrap .list .body dl {
    margin-top: 8px;
    bottom: 8px;
    font-size: 14px;
  }
  .eval .board .board_wrap .list .btn_area {
    width: 100%;
    height: auto;
    padding: 15px;
  }
  .eval .board .board_wrap .list .btn_area button {
    width: 100%;
    height: 36px;
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0, 0);
  }

  /* 로그인 */

  .login .login_wrap {
    width: 100%;
    margin: 0 auto;
  }
  .login .login_wrap form {
    font-size: 12px;
  }
  .login .login_wrap form .checkbox_login a {
    margin-top: 5px;
  }
  .login .login_wrap .sns_login span {
    font-size: 12px;
  }

  /* ID/비밀번호 찾기 */

  .find .find_wrap {
    width: 100%;
    margin: 0 auto;
  }

  /* 비밀번호 재설정 */
  .pw_reset .pw_reset_wrap {
    width: 100%;
    margin: 0 auto;
  }

  /* 회원가입  */

  .join .join_wrap {
    width: 100%;
    margin: 0 auto;
  }

  .join .join_wrap .join_form .join_input_box_01 {
    width: 100%;
  }

  .join .join_wrap .join_form .join_input_box_01 input[type="text"] {
    width: 63%;
    height: 48px;
    margin-top: 15px;
    border: solid 2px #ddd;
  }

  .join .join_wrap .join_form .btn-20 {
    margin-top: 0;
    width: 35%;
  }

  .join .join_wrap .join_form .btn-20-active {
    border: solid 2px #ddd;
    color: #ddd;
    background-color: #fff;
  }

  .join .join_wrap .join_form input[type="text"]::placeholder {
    font-size: 13px;
  }

  .join .join_wrap .join_form .join_input_box_03 .join_btn_box {
  }
  /* 
  .join .join_wrap .join_form .join_input_box_03 .btn-50 {
    width: 49%;
    height: 48px;
    margin-top: 15px;
    border: solid 2px #ddd;
    color: #ddd;
  }

  .join .join_wrap .join_form .join_input_box_03 .btn-50-active {
    width: 49%;
    height: 48px;
    margin-top: 15px;
    border: solid 2px #3ec4ba;
    color: #3ec4ba;
    background-color: #fff;
  } */

  .join
    .join_wrap
    .join_form
    .join_btn_box
    .box-radio-input
    input[type="radio"]
    + span {
    width: 100%;
    height: 48px;
  }

  /* 마이페이지  */

  .mypage .mypage_wrap {
    padding: 0;
  }

  /* 평가단 신청 리스트 */

  .eval .board.mypage_list .board_wrap .list .body {
    height: 100%;
    padding: 10px 0 0 0;
    font-size: 16px;
  }

  .eval .board.mypage_list .board_wrap .list .body .title {
    max-width: 202px;
    font-size: 14px;
    max-height: 32px;
  }

  /* 회원정보 수정 */
  .eval
    .board.mypage_list
    .board_wrap
    .list
    .information.user_list
    li:first-child {
    width: 28%;
    padding-right: 0;
  }

  /* 1:1 문의내역 (none) */

  .eval .board.mypage_list .board_wrap .serch input {
    width: 100%;
    max-width: 260px;
    height: 48px;
    border: solid 2px #ddd;
    caret-color: #ddd;
    margin-top: 30px;
  }

  /* 1:1 문의내역 (view) */
  .eval .board.mypage_list .board_wrap .list.view {
    padding: 10px 0 30px 0;
  }

  .eval .board.mypage_list .board_wrap .list.view .body .title03 h4 {
    font-size: 16px;
    padding-bottom: 10px;
  }

  .eval .board.mypage_list .board_wrap .list.view .body .title03 {
    width: 354px;
    height: 80px;
    font-size: 18px;
    padding-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .eval .board.mypage_list .btn_page button {
    width: 80px;
    height: 48px;
    background: #fff;
    border: solid 2px #ddd;
    font-size: 16px;
    font-weight: bold;
    color: #707070;
  }

  /**** 고객센터 ****/

  .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont {
    padding: 30px 0px 30px 0px;
  }

  .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont li {
    padding: 10px 0px 10px 20px;
    display: flex;
  }
  .eval
    .board.mypage_list
    .board_wrap
    .tab_menu
    .cont_area
    .cont
    .tab-01
    select {
    width: 81%;
  }
  .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .tab-03 li p {
    width: 25%;
  }
  .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .tab-04 li p {
    width: 25%;
  }
  .eval
    .board.mypage_list
    .board_wrap
    .tab_menu
    .cont_area
    .cont
    .tab-03
    li
    span {
    display: inline;
    width: 100%;
  }

  .eval
    .board.mypage_list
    .board_wrap
    .tab_menu
    .cont_area
    .cont
    .tab-03
    li
    span
    input {
    width: 70%;
  }

  .eval
    .board.mypage_list
    .board_wrap
    .tab_menu
    .cont_area
    .cont
    .tab-03
    li
    span
    .btn-10 {
    width: 27%;
  }

  .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont.con_02 {
    padding: 30px 0px 30px 0px;
  }

  /* 회원탈퇴  */

  .eval .board .board_wrap.secession_content {
    width: 100%;
    padding: 20px 0 20px 0;
  }
}

@media screen and (max-width: 480px) {
  .pc {
    display: none;
  }
  .mo {
    display: block;
  }

  /* .show {
    display: none;
  }
  .hidden {
    display: block;
  } */

  /* 모달 */

  .modal .modal-dialog {
    width: 100%;
    height: 100%;
    max-width: 320px;
    /* max-height: 500px; */
    background-color: #fff;
    margin: 0;
    /* padding: 10px 10px 0 5px; */
    position: fixed;
    /* border-radius: 2rem; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
  }

  .modal .modal-dialog .modal-dialog-title .btn-close {
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-size: 30px 30px;
    cursor: pointer;
    background: url("../recources/icons/del.png");
  }

  .modal .modal-dialog .modal-dialog-contents .modal-dialog-contents-title {
    width: 100%;
    height: 350px;
    overflow: scroll;
    font-size: 16px;
    -ms-overflow-style: none;
  }

  .modal .modal-container {
    width: 100%;
    height: auto;
    max-width: 320px;
    background-color: #fff;
    margin: 0 auto;
    /* padding: 10px 10px 0 5px; */
    position: fixed;
    /* border-radius: 2rem; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal .btn.btn_2ea {
    width: 100%;
    max-width: 320px;
    max-height: 42px;
    top: 74%;
  }

  .modal .modal-container .modal-container-body .none {
    text-align: center;
    padding: 110px 0;
  }

  .modal .modal-container .modal-container-body {
    padding: 20px;
    height: auto;
  }

  .modal-container-body .adress_input label {
    width: 100%;
    max-width: 110px;
    margin-bottom: 8px;
    font-size: 16px;
    margin-right: 10px;
    top: 6px;
  }

  .modal-container-body .adress_input input {
    width: 100%;
    max-width: 220px;
    height: 36px;
  }

  .modal-container-body .adress_input .adress_input03 {
    width: 100%;
    max-width: 100px;
    height: 36px;
  }

  .modal-container-body .adress_input label .adress_input03_btn {
    width: 91px;
    height: 36px;
    border: solid 2px #3ec4ba;
    background: #fff;
    font-size: 13px;
    font-weight: bold;
    color: #3ec4ba;
    margin: 0;
  }

  .modal-container-body .adress_input .adress_input04 {
    margin-left: 60px;
  }

  /* 휴대전화번호 변경 모달 */

  .modal .modal-container.num {
    width: 100%;
    height: 100%;
    max-width: 320px;
    max-height: 240px;
    padding: 15px;
  }

  .modal .modal-container.num .modal-container-title h4 {
    font-size: 14px;
    top: 7px;
  }

  .modal .modal-container.num .modal-container-body.num .phonnum_input input {
    width: 100%;
    max-width: 195px;
    height: 36px;
    margin-top: 10px;
  }

  .modal
    .modal-container.num
    .modal-container-body.num
    .phonnum_input
    input::placeholder {
    font-size: 13px;
    padding: 2px;
  }

  .modal .modal-container.num .modal-container-body.num .phonnum_input button {
    width: 100%;
    max-width: 90px;
    line-height: 33px;
    font-size: 13px;
    font-weight: bold;
    padding: 0;
  }

  .modal .modal-container.num .modal-container-body.num .phonnum_input p {
    padding: 5px;
    font-size: 10px;
  }

  .modal .modal-container.num .modal-container-body.num .phonnum_input .off {
    width: 100%;
    max-width: 90px;
    line-height: 33px;
    font-size: 13px;
    padding: 0;
  }

  .modal .btn.btn_2ea.num {
    /* top: 65%; */
    font-size: 13px;
  }

  .modal .btn.btn_2ea.num .modal_btn01 {
    border: solid 1px #ddd;
  }

  /* 비밀번호 변경 모달 */

  .modal .modal-container .modal-container-body.num .pw_input {
    width: 100%;
    font-size: 16px;
  }

  .modal .modal-container .modal-container-body.num .pw_input input {
    width: 100%;
    height: 36px;
    margin-top: 10px;
  }

  .modal
    .modal-container
    .modal-container-body.num
    .pw_input
    input::placeholder {
    font-size: 11px;
  }

  .modal .modal-container .modal-container-body.num .pw_input p {
    padding: 5px;
    font-size: 10px;
  }

  .modal .btn.btn_2ea.num {
    top: 65%;
  }

  /* 공통 */

  .title_area .title_img {
    margin-top: 30px;
    width: 100%;
    height: 335px;
    background: url("../recources/imgs/rectangle2.png") no-repeat;
    background-size: 100% auto;
    background-position: center;
  }

  /* 레이아웃 */
  .sub-container {
    display: block;
    max-width: 100%;
    padding: 20px 20px 150px 20px;
    margin: 0 auto;
  }

  /* 메인 */
  .main-container .visual {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
    padding-bottom: 100%;
  }
  .main-container .visual .test {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url("../recources/bg/img-mainvisual-m-01.png") no-repeat center
      top; */
    background-size: 100%;
  }
  .main-container .visual .test .swiper {
    width: 100%;
    height: 420px;
  }

  .main-container .mbox_1280 .swiper {
    margin-top: 36px;
  }

  .main-container .mbox_1280 .swiper .swiper-slide .slide-best {
    border: 6px solid #cccccc;
  }

  .main-container .mbox_1280 .swiper .swiper-slide .sub-img {
    width: 136px;
    height: 136px;
  }

  .main-container .mbox_1280 .swiper-button-prev-1 {
    display: none;
  }

  .main-container .mbox_1280 .swiper-button-next-1 {
    display: none;
  }

  .main-container .mbox_100 .swiper-button-next-2 {
    display: none;
  }

  .main-container .mbox_100 .swiper-button-prev-2 {
    display: none;
  }

  /********** 서브페이지 **********/

  /* 평가단 */
  .eval .board .board_wrap {
    display: block;
  }
  .eval .board .board_wrap .list {
    width: 100%;
  }
  .eval .board .board_wrap .list:nth-child(2n) {
    margin-left: 0px;
  }
  .eval .board .board_wrap .list div {
    display: block;
  }
  .eval .board .board_wrap .list .body,
  .eval .board .board_wrap .list .btn_area {
    padding: 15px 0;
  }
  .eval .board .board_wrap .list .body .title {
    max-width: 100%;
  }

  .eval .board .board_wrap .list_img img {
    margin: 0 auto;
    width: 320px;
  }

  .eval .board .board_wrap .list_img iframe {
    margin: 0 auto;
    width: 320px;
  }

  .eval .board .board_wrap .information_01 .information-inner-title-btn {
    padding: 22px;
  }

  .eval .board .board_wrap .information .information-name li:first-child {
    padding: 0 100px 0 0;
    color: #707070;
  }

  .eval .board .board_wrap .information .information-phon li:first-child {
    padding: 0 86px 0 0;
    color: #707070;
  }

  .eval .board .board_wrap .information .information-email li:first-child {
    padding: 0 86px 0 0;
    color: #707070;
  }

  .eval
    .board
    .board_wrap
    .information_01
    .information-inner-01
    .information-address
    li:first-child {
    position: absolute;
    /* padding: 0 114px 0 0; */
    color: #707070;
  }

  .eval
    .board
    .board_wrap
    .information_01
    .information-inner-01
    .information-address
    li:last-child {
    margin-left: 131px;
  }

  /* 로그인 */

  /* 회원가입  */

  /* .join .join_wrap .join_form .join_input_box_03 .join_btn_box {
    display: inline-block;
    width: 100%;
  }

  .join .join_wrap .join_form .join_input_box_03 .btn-50 {
    width: 49%;
    height: 48px;
    margin-top: 15px;
    border: solid 2px #ddd;
    color: #ddd;
  }

  .join .join_wrap .join_form .join_input_box_03 .btn-50-active {
    width: 49%;
    height: 48px;
    margin-top: 15px;
    border: solid 2px #3ec4ba;
    color: #3ec4ba;
    background-color: #fff;
  } */

  .join
    .join_wrap
    .join_form
    .join_btn_box
    .box-radio-input
    input[type="radio"]
    + span {
    width: 100%;
    height: 48px;
  }

  /* 마이페이지 */
  .mypage .mypage_wrap {
    padding: 0px;
  }

  .mypagetitle {
    display: flex;
    justify-content: space-between;
    height: 60px;
  }

  .mypagetitle p {
    font-size: 15px;
  }

  .mypagetitle h3 {
    font-size: 18px;
  }

  .mypagetitle .btn-bg-mint {
    margin: 17px 0;
    font-weight: bold;
    font-size: 13px;
  }

  .mypage .title {
    font-size: 24px;
  }

  .mypage h3 {
    font-size: 15px;
    padding: 15px 0;
  }

  .mypage .mypage_inner_01 {
    width: 100%;
    height: 160px;
    position: relative;
  }

  .mypage .mypage_inner_01 .mypage_box {
    width: 50%;
    height: 100px;
    background-color: #f8f8f8;
    border: solid 2px #ddd;
    float: left;
    display: block;
    text-align: center;
    padding: 5px 0 0 0;
    float: left;
    box-sizing: border-box;
    font-size: 12px;
    /* border-right: none; */
  }

  .mypage .mypage_inner_01 .mypage_box:nth-child(1) {
    border-right: none;
    border-bottom: none;
  }
  .mypage .mypage_inner_01 .mypage_box:nth-child(2) {
    border-bottom: none;
  }

  .mypage .mypage_inner_01 .mypage_box.solid {
    border-bottom: solid 2px #ddd;
  }

  .mypage .mypage_inner_01 .mypage_box span {
    padding: 60px 0 0 0;
  }

  .mypage .mypage_inner_01 .mypage_box .mypage_box_img01 {
    position: absolute;
    background: url(../recources/imgs/rectangle_01.png) no-repeat center;
    background-size: 95px 60px;
    width: 100%;
    height: 64px;
  }

  .mypage .mypage_inner_01 .mypage_box .mypage_box_img02 {
    background: url(../recources/imgs/rectangle_02.png) no-repeat center;
    position: absolute;
    background-size: 90px 60px;
    width: 100%;
    height: 60px;
  }

  .mypage .mypage_inner_01 .mypage_box .mypage_box_img03 {
    background: url(../recources/imgs/rectangle_03.png) no-repeat center;
    position: absolute;
    background-size: 90px 60px;
    width: 100%;
    height: 60px;
  }

  .mypage .mypage_inner_01 .mypage_box .mypage_box_img04 {
    background: url(../recources/imgs/rectangle.png) no-repeat center;
    position: absolute;
    background-size: 90px 60px;
    width: 100%;
    height: 60px;
  }

  .mypage .mypage_inner_02 {
    display: inline-block;
    width: 100%;
  }

  .mypage .mypage_inner_02 .mypage_content_01 {
    width: 100%;
  }

  .mypage .mypage_box_02 {
    width: 100%;
    height: 40px;
    border: solid 2px #ddd;
    font-size: 13px;
    padding: 0 10px;
    line-height: 35px;
    margin-top: 0px;
    background-size: 30px 30px;
  }

  .mypage .mypage_box_02 div {
    position: absolute;
    right: 50px;
    top: 0px;
    text-align: right;
  }

  .mypage .mypage_box_02 .point {
    color: #3ec4ba;
    font-weight: bold;
    font-size: 15px;
    margin-top: 7px;
    right: 28px;
  }

  /* 평가단 신청 리스트 */
  .title_area.list h2 {
    font-size: 16px;
  }

  .eval .board.mypage_list .board_wrap .list .body {
    height: 100%;
    max-height: 85px;
    padding: 10px 0 0 0;
    font-size: 16px;
  }

  .eval .board.mypage_list .board_wrap .list .body .title {
    width: 100%;
    max-width: 202px;
    font-size: 14px;
    font-weight: bold;
  }

  .eval .board.mypage_list .board_wrap .list .title_sub {
    width: 100%;
    padding: 30px 10px 10px 10px;
    text-align: right;
    position: relative;
    font-size: 15px;
  }
  /* 회원정보 수정 */
  .eval
    .board.mypage_list
    .board_wrap
    .list
    .information.user_list
    li:first-child {
    width: 47%;
    padding-right: 0;
  }

  /* 1:1 문의내역 (none) */
  .eval .board.mypage_list .board_wrap .serch {
    width: 100%;
    text-align: center;
  }

  .eval .board.mypage_list .board_wrap .serch input {
    width: 100%;
    max-width: 229px;
    height: 36px;
    border: solid 2px #ddd;
    caret-color: #ddd;
    margin-top: 15px;
  }
  .eval .board.mypage_list .board_wrap .serch button {
    width: 100%;
    max-width: 90px;
    height: 36px;
    margin-top: 15px;
  }

  /* 1:1 문의내역 (view) */

  .eval .board.mypage_list .board_wrap .list.view .body .title03 h4 {
    font-size: 10px;
    padding-bottom: 10px;
  }

  .eval .board.mypage_list .board_wrap .list.view .body .title03 {
    width: 250px;
    height: 60px;
    font-size: 14px;
    padding-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .eval .board.mypage_list .board_wrap .list.view .body.view {
    font-size: 14px;
  }

  .eval .board.mypage_list .board_wrap .list.view .body.view h4 {
    font-size: 14px;
  }

  /**** 고객센터 ****/

  .eval .board.mypage_list .board_wrap .tab_menu .list_tab .btn_list {
    font-size: 14px;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 17px;
  }
  .eval .board.mypage_list .board_wrap .tab_menu .list_tab .is_on .btn_list {
    color: #fff;
    background: #3ec4ba;
    width: 100%;
    height: 50px;
    text-align: center;
  }
  .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont {
    display: block;
    /* background: #ddd; */
    width: 100%;
    height: auto;
    line-height: 100px;
    padding: 20px 0;
  }

  .eval .board.mypage_list .board_wrap .tab_menu .list_tab .cont_area .cont {
    display: none;
  }

  .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .tab-01 {
    margin-top: 2px;
  }

  .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont h4 {
    font-size: 14px;
  }

  .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont li {
    padding: 10px 0px 10px 0px;
    display: block;
  }

  .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont li p {
    font-size: 13px;
    padding-bottom: 10px;
    color: #707070;
  }

  .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont li input {
    text-align: left;
  }
  .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .tab-01 li p {
    width: 100%;
  }
  .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .btn_area_50 {
    width: 100%;
    margin-top: 20px;
  }

  .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .btn-50-full {
    width: 100%;
  }
  .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .tab-02 li p {
    width: 100%;
  }
  .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .tab-03 li p {
    width: 100%;
  }

  .eval
    .board.mypage_list
    .board_wrap
    .tab_menu
    .cont_area
    .cont
    .tab-03
    li
    span {
    display: inline;
  }

  .eval
    .board.mypage_list
    .board_wrap
    .tab_menu
    .cont_area
    .cont
    .tab-03
    li
    span
    input {
    width: 62%;
  }

  .eval
    .board.mypage_list
    .board_wrap
    .tab_menu
    .cont_area
    .cont
    .tab-03
    li
    span
    .btn-10 {
    width: 34%;
    top: 2px;
  }

  .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .tab-04 li p {
    width: 100%;
  }

  .eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont.con_02 {
    padding: 20px 0;
    letter-spacing: -0.8px;
  }
  /* 회원탈퇴  */

  .eval .board .board_wrap.secession_content {
    width: 100%;
    padding: 20px 0 20px 0;
  }
}
