div.inlineBlock {
  display: inline-block;
}

/* text */
h1 {
}
h2 {
  font-family: "SBAggroM", "sans-serif";
  font-size: 48px;
}
h3 {
  font-family: "SBAggroB", "sans-serif";
  font-size: 32px;
}
h4 {
  font-family: "SBAggroB", "sans-serif";
  font-size: 18px;
}
h5 {
  font-size: 18px;
}

.text_02 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  line-height: 1.5em;
}

.text_03 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  line-height: 1.5em;
}

.text_04 h2 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 30px;
  line-height: 1.5em;
}

.wt-nm {
  font-weight: normal;
}

/* 배경 */

.bg_00 {
  background-color: #ffcd54 !important;
}
.bg_01 {
  background: #3ec4ba !important;
}

/* 공통 */
.line_14 {
  width: 100%;
  max-width: 800px;
  padding: 7px;
  background: #fff;
  margin-top: 25px;
}

.line_14.bk {
  background: #000;
}

.line_14-100 {
  width: 100%;
  padding: 7px;
  background: #000;
  margin-top: 50px;
}

.solid {
  border: solid 1px #ddd;
}

.list_solid {
  border-top: solid 1px #ddd;
  margin-top: 30px;
}

.point {
  color: #ff0000;
}

.point00 {
  color: #3ec4ba;
}

/* .show {
  display: block;
}
.hidden {
  overflow: hidden;
} */

/********** 메인 컨테이너 **********/
.main-container .visual {
  width: 100%;
  height: 550px;
}
.main-container .visual .test {
  width: 100%;
  height: 550px;
}

.main-container .mbox_1280 {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 70px 40px 80px 40px;
}
.main-container .mbox_1280 h2 {
  color: #000;
}
.main-container .mbox_1280 .text_02 {
  width: 500px;
}

/* 메인 스와이퍼 */
.main-container .visual .test .swiper {
  width: 100%;
  height: 100%;
}

.main-container .visual .test .swiper-slide {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.main-container .visual .test .swiper-slide .pc {
  display: block;
}

.main-container .visual .test .swiper-slide .mo {
  display: none;
}

.main-container .visual .test .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #fff;
}

/*.swiper-button-next {
    background: url(https://cdn-icons-png.flaticon.com/512/254/254442.png)
      no-repeat;
    background-size: 100% auto;
    background-position: center;
    top: 84.3%;
    left: 290px;
    position: absolute;
  }

  .swiper-button-prev {
    background: url(https://cdn-icons-png.flaticon.com/512/254/254442.png)
      no-repeat;
    background-size: 100% auto;
    background-position: center;
    top: 84.3%;
    left: 245px;
    display: block;
    position: absolute;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }*/

.main-container .visual .test .swiper-pagination-bullet-active {
  width: 20px;
  height: 9px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-container .visual .test .swiper-pagination-bullet::after {
  display: none;
}

.main-container .mbox_1280 {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 70px 40px 80px 40px;
}

.main-container .mbox_1280 .test .swiper-slide .pc {
  display: block;
}

.main-container .mbox_1280 .test .swiper-slide .mo {
  display: none;
}

.main-container .mbox_1280 h2 {
  color: #000;
}
.main-container .mbox_1280 .text_02 {
  width: 525px;
}

.main-container .mbox_1280 .swiper {
  margin-top: 60px;
}

.main-container .mbox_1280 .swiper .bastSwiper {
  width: 100%;
  max-width: 1200px;
  max-height: 280px;
  background: #fff;
}

.main-container .mbox_1280 .swiper .swiper-slide {
  background: #fff;
}

.main-container .mbox_1280 .swiper .swiper-slide .slide-best {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 8px solid #cccccc;
}

.main-container .mbox_1280 .swiper .swiper-slide .sub-img :hover {
  border: 8px solid #3ec4ba;
}

.main-container .mbox_1280 .swiper .swiper-slide .sub-img {
  width: 280px;
  height: 280px;
}

.main-container .mbox_1280 .slide_btn_1 {
  bottom: 40px;
}

.main-container .mbox_1280 .swiper-button-prev-1 {
  background: url("../recources/imgs/img-page-arwleft.png") no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 48px;
  height: 48px;
  /* border: 4px solid #000; */
  position: absolute;
}

.main-container .mbox_1280 .swiper-button-next-1 {
  width: 48px;
  height: 48px;
  /* border: 4px solid #000; */
  background: url("../recources/imgs/rectangle.png") no-repeat;
  background-size: 100% auto;
  background-position: center;
  position: absolute;
}

.main-container .mbox_1280 .swiper .swiper-button-next-1::after,
.main-container .mbox_1280 .swiper .swiper-button-prev-1::after {
  display: none;
}

/* 상품 스와이프 */

.main-container .mbox_100 {
  width: 100%;
  position: relative;
  /* background: #ffcd54; */
}
.main-container .mbox_100 .inner {
  width: 100%;
  max-width: 1280px;
  padding: 70px 40px 40px 40px;
  margin: 0 auto;
}
.main-container .mbox_100 .inner h2 {
  color: #fff;
}

.main-container .mbox_100 .sale {
  width: 100%;
  max-width: 1579px;
  margin-left: auto;
  /* padding-bottom: 80px; */
  padding: 0px 0px 40px 47px;
  height: 100%;
  /* background-color: #ffcd54; */
}

.main-container .mbox_100 .saleSwiper {
  height: 422px;
  margin-top: 20px;
}

.main-container .mbox_100 .saleSwiper .swiper-slide {
  width: 290px;
  height: 422px;
  flex-wrap: wrap;
  text-align: left;
  background-color: #fff;
}

.main-container .mbox_100 .saleSwiper2 .swiper-slide {
  width: 290px;
  height: 422px;
  flex-wrap: wrap;
  text-align: left;
  background-color: #fff;
}

.main-container .mbox_100 .swiper-slide .sub-img img {
  width: 290px;
  height: 250px;
}

.main-container .mbox_100 .swiper-slide .slide-sale {
  display: block;
  width: 100%;
  height: 100%;
}

/* 출력별 */
.main-container .mbox_100 .stars-outer {
  display: inline-block;
  position: relative;
  font-size: 16px;
  margin-top: 4px;
  /* font-family: "Font Awesome 5 free"; */
  /* letter-spacing: 1px; */
}

.main-container .mbox_100 .stars-outer::before {
  content: "★ ★ ★ ★ ★";
  font-weight: 900;
  color: #cccccc;
}

.main-container .mbox_100 .stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.main-container .mbox_100 .stars-inner::before {
  content: "★ ★ ★ ★ ★";
  /* content: "\f005 \f005 \f005 \f005 \f005"; */
  color: #3ec4ba;
  font-weight: 900;
}

.main-container .mbox_100 .number {
  font-size: 16px;
  font-family: "SpoqaHanSans-Regular";
  font-weight: 400;
  color: #707070;
  margin: 5px;
  letter-spacing: -0.5px;
}

.main-container .mbox_100 .sale h3 {
  margin: 14px 0 10px 0;
  font-size: 18px;
}

.main-container .mbox_100 .swiper-slide .main-project-title {
  position: relative;
  margin: 0 16px 0 16px;
}

.main-container .mbox_100 .swiper-slide .main-project-title p {
  display: inline-block;
}
.main-container .mbox_100 .swiper-slide .main-project-left .price {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
}

.main-container .mbox_100 .sale-price {
  font-weight: 600;
  text-decoration: line-through;
  font-size: 17px;
  margin-top: 3px;
}

.main-container .mbox_100 .main-project-title .main-project-left {
  float: left;
  margin: 0 20px 0 0;
}

.main-container .mbox_100 .main-project-title .main-project-right {
  float: right;
  font-size: 22px;
  font-weight: 600;
}

.main-container .mbox_100 .main-project-bottom p {
  float: left;
  font-size: 15px;
  /* font-family: "SBAggroL"; */
  font-weight: 400;
}

.main-container .mbox_100 .main-project-bottom .left p {
  margin: 5px 0px 5px;
}

.main-container .mbox_100 .main-project-bottom .right {
  float: right;
  width: 88px;
  display: -webkit-inline-box;
}

.main-container .mbox_100 .main-project-bottom .right p {
  margin: 5px 6px 5px;
  font-size: 15px;
}

.main-container .mbox_100 .main-project-bottom .right .wishlist {
  width: 23px;
  margin-top: 4px;
  background: url("../recources/icons/icon-heart@3x.png") no-repeat;
  background-size: 23px auto;
  background-position: center;
  display: block;
}

.main-container .mbox_100 .project {
  font-size: 0.7rem;
  margin: 0 16px 10px 0;
}

.main-container .mbox_100 .slide_btn_2 {
  margin-left: 47px;
}

.main-container .mbox_100 .clicked {
  background: url("../recources/icons/icon-heart-2.png") no-repeat;
  background-size: 24px 21px;
}

.main-container .mbox_100 .swiper-button-next-2 {
  background: url("../recources/imgs/img-page-arwleft.png") no-repeat;
  background-size: 100% auto;
  background-position: center;
  position: absolute;
  width: 30px;
  height: 30px;
}
.main-container .mbox_100 .swiper-button-prev-2 {
  background: url("../recources/imgs/img-page-arwleft.png") no-repeat;
  background-size: 100% auto;
  background-position: center;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
}

.main-container .mbox_100 .inner .swiper-button-next-2::after,
.main-container .mbox_100 .inner .swiper-button-prev-2::after {
  display: none;
}

.main-container .mbox_1280 .prod {
  margin-top: 60px;
}

.main-container .mbox_100 .prod {
  width: 100%;
  margin-top: 60px;
}

.new-icon {
  width: 70px;
  height: 25px;
  background-color: rgb(255, 111, 0);
  text-align: center;
}
.new-icon p {
  color: #fff;
  font-size: 18px;
  /* font-family: "SBAggroL"; */
  font-weight: 400;
}

.hot-icon {
  width: 70px;
  height: 25px;
  background-color: rgb(255, 38, 0);
  text-align: center;
}
.hot-icon p {
  color: #fff;
  font-size: 18px;
  /* font-family: "SBAggroL"; */
  font-weight: 400;
}

.sale-icon {
  width: 70px;
  height: 25px;
  background-color: rgb(255, 111, 0);
  text-align: center;
}
.sale-icon p {
  color: #fff;
  font-size: 18px;
  /* font-family: "SBAggroL"; */
  font-weight: 400;
}

/********** 서브페이지 시작 **********/
.location {
  /* font-family: "SBAggroM", "sans-serif"; */
  font-size: 15px;
  color: #707070;
  text-align: right;
}

.location a {
  font-family: "SBAggroM", "sans-serif";
}

.location ul li {
  display: inline-flex;
  background: url("../recources/icons/icon-arw-position.png") no-repeat center
    left;
  background-size: 16px 16px;
  padding-left: 20px;
}
.location ul li:first-child {
  background: none;
  padding-left: 0;
}

.title_area h2 {
  margin-top: 55px;
}

.title_area_01 h2 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 55px;
  text-align: center;
}

.title_area .title_img {
  margin-top: 30px;
  width: 1200px;
  height: 304px;
  background: url("../recources/imgs/list_title_pc.png") no-repeat;
  background-size: 100% auto;
  background-position: center;
}

/* 상품스와이프 (4ps) 1280 */

.main-container .mbox_1280 {
  width: 100%;
  position: relative;
  /* background: #ffcd54; */
}
.main-container .mbox_1280 .inner {
  width: 100%;
  max-width: 1280px;
  padding: 70px 40px 40px 40px;
  margin: 0 auto;
}
.main-container .mbox_1280 .inner h2 {
  color: #fff;
}

.main-container .mbox_1280 .sale {
  width: 100%;
  max-width: 1579px;
  margin-left: auto;
  /* padding-bottom: 80px; */
  /* padding: 0px 0px 40px 0px; */
  height: 100%;
  /* background-color: #ffcd54; */
}

.main-container .mbox_1280 .saleSwiper3 {
  height: 452px;
  margin-top: 20px;
}

.main-container .mbox_1280 .saleSwiper3 .swiper-slide {
  width: 290px;
  height: 422px;
  flex-wrap: wrap;
  text-align: left;
  background-color: #fff;
}

.main-container .mbox_1280 .swiper-slide .sub-img img {
  width: 290px;
  height: 250px;
}

.main-container .mbox_1280 .swiper-slide .slide-sale {
  display: block;
  width: 100%;
  height: 100%;
}

/* 출력별 */
.main-container .mbox_1280 .stars-outer {
  display: inline-block;
  position: relative;
  font-size: 16px;
  margin-top: 4px;
  /* font-family: "Font Awesome 5 free"; */
  /* letter-spacing: 1px; */
}

.main-container .mbox_1280 .stars-outer::before {
  content: "★ ★ ★ ★ ★";
  font-weight: 900;
  color: #cccccc;
}

.main-container .mbox_1280 .stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.main-container .mbox_1280 .stars-inner::before {
  content: "★ ★ ★ ★ ★";
  /* content: "\f005 \f005 \f005 \f005 \f005"; */
  color: #3ec4ba;
  font-weight: 900;
}

.main-container .mbox_1280 .number {
  font-size: 16px;
  font-family: "SpoqaHanSans-Regular";
  font-weight: 400;
  color: #707070;
  margin: 5px;
  letter-spacing: -0.5px;
}

.main-container .mbox_1280 .sale h3 {
  margin: 14px 0 10px 0;
  font-size: 18px;
}

.main-container .mbox_1280 .swiper-slide .main-project-title {
  position: relative;
  margin: 0 16px 0 16px;
}

.main-container .mbox_1280 .swiper-slide .main-project-title p {
  display: inline-block;
}
.main-container .mbox_1280 .swiper-slide .main-project-left .price {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
}

.main-container .mbox_1280 .sale-price {
  font-weight: 600;
  text-decoration: line-through;
  font-size: 17px;
  margin-top: 3px;
}

.main-container .mbox_1280 .main-project-title .main-project-left {
  float: left;
  margin: 0 20px 0 0;
}

.main-container .mbox_1280 .main-project-title .main-project-right {
  float: right;
  font-size: 22px;
  font-weight: 600;
}

.main-container .mbox_1280 .main-project-bottom p {
  float: left;
  font-size: 15px;
  /* font-family: "SBAggroL"; */
  font-weight: 400;
}

.main-container .mbox_1280 .main-project-bottom .left p {
  margin: 5px 0px 5px;
}

.main-container .mbox_1280 .main-project-bottom .right {
  float: right;
  width: 88px;
  display: -webkit-inline-box;
}

.main-container .mbox_1280 .main-project-bottom .right p {
  margin: 5px 6px 5px;
  font-size: 15px;
}

.main-container .mbox_1280 .main-project-bottom .right .wishlist {
  width: 23px;
  margin-top: 4px;
  background: url("../recources/icons/icon-heart@3x.png") no-repeat;
  background-size: 23px auto;
  background-position: center;
  display: block;
}

.main-container .mbox_1280 .project {
  font-size: 0.7rem;
  margin: 0 16px 10px 0;
}

.main-container .mbox_1280 .slide_btn_2 {
  margin-left: 47px;
}

.main-container .mbox_1280 .clicked {
  background: url("../recources/icons/icon-heart-2.png") no-repeat;
  background-size: 24px 21px;
}

/* .main-container .mbox_1280 .swiper-button-next-2 {
  background: url("../recources/imgs/img-page-arwleft.png") no-repeat;
  background-size: 100% auto;
  background-position: center;
  position: absolute;
  width: 30px;
  height: 30px;
}
.main-container .mbox_1280 .swiper-button-prev-2 {
  background: url("../recources/imgs/img-page-arwleft.png") no-repeat;
  background-size: 100% auto;
  background-position: center;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
}

.main-container .mbox_1280 .inner .swiper-button-next-2::after,
.main-container .mbox_1280 .inner .swiper-button-prev-2::after {
  display: none;
} */

/* 서브 배너 */
.main-container .mbox_1280 .sub_banner {
  width: 100%;
  text-align: center;
  height: auto;
}

.main-container .mbox_1280 .sub_banner .swiper {
  height: 325px;
}

.main-container .mbox_1280 .sub_banner .swiper-slide .pc {
  display: block;
}

.main-container .mbox_1280 .sub_banner .swiper-slide .mo {
  display: none;
}

.main-container .mbox_1280 .sub_banner .swiper-pagination-bullet-active {
  width: 20px;
  height: 9px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-container .mbox_1280 .sub_banner .swiper-pagination-bullet::after {
  display: none;
}

/* 평가단 */
.eval {
  width: 100%;
}
.eval .board .board_wrap {
  /* border-bottom: 2px solid #000; */
}
.eval .board .board_wrap .list {
  border-bottom: 1px solid #ddd;
  display: flex;
}

.eval .board .board_wrap .list div {
}

.eval .board .board_wrap .list-none {
  height: 500px;
  padding: 200px 0 250px 0;
  margin: 0 auto;
  background-size: 100% auto;
  text-align: center;
}

.eval .board .board_wrap .list-none p {
  font-size: 20px;
  font-weight: 400;
}

.eval .board .board_wrap .list .thumb {
  width: 360px;
  height: 180px;
}
.eval .board .board_wrap .list .thumb img {
  width: 100%;
  height: 100%;
}
.eval .board .board_wrap .list .body {
  width: calc(100% - 360px - 200px);
  height: 180px;
  padding: 25px;
}
.eval .board .board_wrap .list .body .title {
  max-width: 420px;
  font-size: 24px;
  font-weight: bold;
  max-height: 60px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.eval .board .board_wrap .list .body dl {
  margin-top: 10px;
  color: #707070;
}
.eval .board .board_wrap .list .body dt {
  display: inline-block;
  width: 35%;
}
.eval .board .board_wrap .list .body dd {
  display: inline-block;
  width: 63%;
}

.eval .board .board_wrap .list_contents {
  border-bottom: 1px solid #ddd;
  padding-bottom: 56px;
}

.eval .board .board_wrap .list_view {
  border-bottom: 1px solid #ddd;
}

.eval .board .board_wrap .list_view .body {
  /* width: calc(100% - 360px - 200px); */
  height: 180px;
  padding: 25px;
}
.eval .board .board_wrap .list_view .body .title {
  max-width: 420px;
  font-size: 24px;
  font-weight: bold;
  height: 54px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.eval .board .board_wrap .list_view .body dl {
  margin-top: 10px;
  color: #707070;
}
.eval .board .board_wrap .list_view .body dt {
  display: inline-block;
  width: 35%;
}
.eval .board .board_wrap .list_view .body dd {
  display: inline-block;
  width: 63%;
}

.eval .board .board_wrap .list_view .list_img img {
  text-align: center;
  width: 100%;
  max-width: 1200px;
}

.eval .board .board_wrap .list_view .list_img iframe {
  text-align: center;
  width: 100%;
  max-width: 1200px;
}

.eval .board .board_wrap .list_view .list_img_text {
  margin: 0 auto;
  padding: 40px 30px 0px;
  letter-spacing: -0.5px;
}

.eval .board .board_wrap .list_img_btn_area {
  text-align: center;
  padding-top: 56px;
}

.eval .board .board_wrap .list_img_btn_area button {
  width: 320px;
  height: 48px;
  text-align: center;
  position: relative;
  border: none;
  background-color: #3ec4ba;
  font-size: 16px;
  color: #fff;
}

.eval .board .board_wrap .list .btn_area {
  width: 150px;
  height: 180px;
  text-align: right;
  position: relative;
}
.eval .board .board_wrap .list .btn_area a {
  left: 50%;
  top: 50%;
  width: 150px;
  height: 100px;
  transform: translate(-50%, -50%);
}
.eval .board .board_wrap .list .btn_area button {
  width: 150px;
  height: 100px;
  background: #fff;
  border: 2px solid #3ec4ba;
  color: #3ec4ba;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.eval .board .board_wrap .information {
  padding: 40px;
  /* 20px 0 30px 0; */
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

.eval .board .board_wrap .information h4 {
  font-size: 18px;
  font-weight: 800;
  padding-top: 4px;
}

.eval .board .board_wrap .information ul {
  width: 100%;
  max-width: 1200px;
  display: flex;
  padding: 20px 0 0 0;
}

.eval .board .board_wrap .information .information-name li:first-child {
  padding: 0 117px 0 0;
  color: #707070;
}

.eval .board .board_wrap .information .information-phon li:first-child {
  padding: 0 103px 0 0;
  color: #707070;
}

.eval .board .board_wrap .information .information-phon button {
  width: 56px;
  height: 30px;
  border: solid 2px #000;
  margin-left: 20px;
  text-align: center;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-weight: bold;
}

.eval .board .board_wrap .information .information-email li:first-child {
  padding: 0 103px 0 0;
  color: #707070;
}

.eval .board .board_wrap .information .information-input li:first-child {
  padding: 0 42px 0 0;
  color: #707070;
}

.eval .board .board_wrap .information .information-input textarea {
  width: 960px;
  height: 145px;
  /* line-height: 145px; */
  border: solid 2px #ddd;
  caret-color: #ddd;
}

.eval .board .board_wrap .information .information-input textarea::placeholder {
  padding: 10px;
  color: #aeaeae;
}

.eval .board .board_wrap .information .information-input textarea:focus {
  outline: none;
}

.eval .board .board_wrap .information .information-input .textLengthCheck {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.eval .board .board_wrap .information .information-input input {
  width: 100%;
  max-width: 960px;
  height: 48px;
  /* line-height: 145px; */
  border: solid 2px #ddd;
  caret-color: #ddd;
}

.eval .board .board_wrap .information .information-input input::placeholder {
  padding: 10px;
  color: #aeaeae;
}

.eval .board .board_wrap .information .information-input li span {
  font-size: 12px;
  color: #ff0000;
  letter-spacing: -0.4px;
}

.eval .board .board_wrap .information_01 {
}

.eval .board .board_wrap .information_01 .information-inner-title {
  display: flex;
  justify-content: space-between;
  padding: 0 0 18px 0;
}

.eval .board .board_wrap .information_01 .information-inner-title button {
  width: 155px;
  height: 30px;
  border: solid 2px #3ec4ba;
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
  color: #3ec4ba;
}

.eval .board .board_wrap .information_01 .information-inner-title-btn {
  background-color: #f8f8f8;
  border: solid 2px #ddd;
  height: 110px;
  text-align: center;
  padding: 30px;
  font-size: 16px;
}

.eval .board .board_wrap .information_01 .information-inner-title-btn span {
  color: #3ec4ba;
}

.eval
  .board
  .board_wrap
  .information_01
  .information-inner-01
  .information-name
  li:first-child {
  margin-right: -14px;
}

.eval
  .board
  .board_wrap
  .information_01
  .information-inner-01
  .information-address
  li:first-child {
  padding: 0 118px 0 0;
  color: #707070;
}

.eval
  .board
  .board_wrap
  .information_01
  .information-inner-01
  .information-address
  li:last-child {
  flex-direction: column;
}

.eval
  .board
  .board_wrap
  .information_01
  .information-inner-01
  .information-input
  li:first-child {
  padding: 0 88px 0 0;
  color: #707070;
}

.eval
  .board
  .board_wrap
  .information_01
  .information-inner-01
  .information-input
  textarea {
  height: 48px;
  /* margin-left: 50px; */
}

.eval
  .board
  .board_wrap
  .information_01
  .information-inner-01
  .information-input
  textarea::placeholder {
  padding: 10px 0px 0px 10px;
  color: #aeaeae;
}

.eval .board .board_wrap .information_02 .information-inner-checkbox {
  padding: 30px 0 20px;
}

.eval .board .board_wrap .information_02 .information-inner-checkbox span {
  color: #ff0000;
}

.eval .board .board_wrap .information_02 .information-inner-checkbox a {
  display: block;
}

.eval .board .board_wrap .information_02 .information-inner-checkbox p {
  padding-left: 25px;
  color: #707070;
  text-decoration: underline;
}

/* .eval .board .board_wrap .information_02 .information-inner-checkbox{

} */

.eval .board .board_wrap .information_02 .information-inner-subtitle {
  padding: 10px 30px 20px 30px;
  background-color: #f8f8f8;
  border: solid 2px #ddd;
  height: auto;
  text-align: left;
  font-size: 16px;
}

.eval
  .board
  .board_wrap
  .information_02
  .information-inner-subtitle
  .inner-subtitle {
  flex-direction: column;
  padding-left: 30px;
}

.eval
  .board
  .board_wrap
  .information_02
  .information-inner-subtitle
  .inner-subtitle
  li {
  list-style-type: disc;
  padding-top: 4px;
  padding-left: 10px;
}
.eval
  .board
  .board_wrap
  .information_02
  .information-inner-subtitle
  .inner-subtitle
  li:first-child {
  color: #ff0000;
  font-weight: bold;
}
.eval
  .board
  .board_wrap
  .information_02
  .information-inner-subtitle
  .inner-subtitle
  li::marker {
  color: #000;
  font-size: 10px;
}

.eval .board .paging {
  /* width: 320px; */
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin: 0 auto;
  margin-top: 40px;
}
.eval .board .paging a {
  width: 80px;
  padding: 13px 13px 12px 13px;
  border: solid 4px #000;
  display: inline-block;
}
.eval .board .paging div {
  display: inline-block;
  width: 150px;
  padding: 13px 13px 12px 13px;
}

/* board */

/* 로그인 시작 */

.login {
  width: 100%;
  margin: 0 auto;
}
.login .login_wrap {
  width: 600px;
  margin: 0 auto;
}

.login .login_wrap form {
  top: 20px;
  margin-bottom: 51px;
}

.login .login_wrap form .login_input {
  width: 100%;
  height: 48px;
  margin-bottom: 10px;
  border: solid 2px #ddd;
}

.login .login_wrap form .login_input::placeholder {
  padding-left: 10px;
}

.login .login_wrap form button {
  margin-top: 10px;
}
.login .login_wrap form .checkbox_login {
  margin-top: 10px;
}
.login .login_wrap form .checkbox_login label {
  margin-left: 2px;
  /* top: 4px; */
}
.login .login_wrap form .checkbox_login a {
  float: right;
}

.login .login_wrap .sns_login {
  margin-top: 20px;
  text-align: center;
}
.login .login_wrap .sns_login a {
  width: 100%;
  margin-bottom: 10px;
}

.login .login_wrap .sns_login span {
  font-size: 16px;
}
.login .login_wrap .sns_login span a {
  width: 95px;
  text-decoration: underline;
  margin-left: 10px;
}

/* 아이디 / 비밀번호 찾기 */

.find {
  width: 100%;
  margin: 0 auto;
}
.find .find_wrap {
  width: 600px;
  margin: 0 auto;
}

.find .find_wrap form {
  top: 20px;
  margin-bottom: 51px;
}

.find .find_wrap form .pw_find {
  top: 50px;
}

.find .find_wrap form h3 {
  margin-top: 30px;
  font-size: 24px;
}

.find .find_wrap form input {
  width: 100%;
  height: 48px;
  margin-top: 10px;
  border: solid 2px #ddd;
  -webkit-appearance: none;
}

.find .find_wrap form input::placeholder {
  padding-left: 10px;
}

.find .find_wrap form button {
  margin-top: 10px;
}

/* 비밀번호 재설정 */

.pw_reset {
  width: 100%;
  margin: 0 auto;
}
.pw_reset .pw_reset_wrap {
  width: 600px;
  margin: 0 auto;
}

.pw_reset .pw_reset_wrap form {
  top: 20px;
  margin-bottom: 51px;
}

.pw_reset .pw_reset_wrap form input {
  width: 100%;
  height: 48px;
  margin-top: 15px;
  border: solid 2px #ddd;
}

.pw_reset .pw_reset_wrap form input::placeholder {
  padding-left: 10px;
}

.pw_reset .pw_reset_wrap form span {
  top: 10px;
  font-size: 12px;
}

.pw_reset .pw_reset_wrap form button {
  margin-top: 50px;
}

/* 비밀번호 재설정 시간 만료   */

.pw_reset .pw_reset_wrap .pw-timeout a {
  width: 100%;
}

.pw_reset .pw_reset_wrap .pw-timeout button {
  margin-top: 30px;
}

/* 회원가입 시작 */

/* 회원가입 */

input::placeholder {
  color: #aeaeae;
  letter-spacing: -1px;
}

.join {
  width: 100%;
  margin: 0 auto;
}
.join .join_wrap {
  width: 600px;
  margin: 0 auto;
}

.join .join_wrap .join_form {
  top: 30px;
  margin-bottom: 0px;
}

.join .join_wrap .join_form .btn-20 {
  margin-top: 0;
  width: 144px;
}

/* 인증번호 버튼 비활성화 */
.join .join_wrap .join_form .btn-20-active {
  border: solid 2px #ddd;
}

.join .join_wrap .join_form span {
  top: 5px;
  font-size: 12px;
}

.join .join_wrap .join_form .join_input_box_01 .solid {
  margin-top: 53px;
}

.join .join_wrap .join_form input::placeholder {
  padding: 10px;
  color: #aeaeae;
}

.join .join_wrap .join_form .join_input_box_01 input {
  width: 450px;
  height: 48px;
  margin-top: 15px;
  border: solid 2px #ddd;
}

.join .join_wrap .join_form .join_input_box_02 input {
  width: 100%;
  height: 48px;
  margin-top: 15px;
  border: solid 2px #ddd;
}

.join .join_wrap .join_form .join_input_box_03 input {
  width: 100%;
  height: 48px;
  margin-top: 15px;
  border: solid 2px #ddd;
}

.join .join_wrap .join_form .join_input_box_03 .join_btn_box {
  display: flex;
}

/* .join .join_wrap .join_form .join_input_box_03 .btn-50 {
  width: 297px;
  height: 48px;
  margin-top: 15px;
  border: solid 2px #ddd;
  color: #ddd;
} */

.join .join_wrap .join_form .join_btn_box .box-radio-input {
  width: 100%;
  height: 48px;
}

.join .join_wrap .join_form .join_btn_box .box-radio-input input[type="radio"] {
  display: none;
}

.join
  .join_wrap
  .join_form
  .join_btn_box
  .box-radio-input
  input[type="radio"]
  + span {
  display: flex;
  justify-content: center;
  border: 2px solid #ddd;
  padding: 5px 10px;
  text-align: center;
  width: 100%;
  height: 48px;
  line-height: 33px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 15px;
  font-size: 16px;
  color: #ddd;
}

.join
  .join_wrap
  .join_form
  .join_btn_box
  .box-radio-input
  input[type="radio"]:checked
  + span {
  border: 2px solid #3ec4ba;
  color: #3ec4ba;
}

/* .join .join_wrap .join_form .join_input_box_03 .btn-50-active {
  width: 297px;
  height: 48px;
  margin-top: 15px;
  border: solid 2px #3ec4ba;
  color: #3ec4ba;
  background-color: #fff;
} */

.join .join_wrap .join_form .btn-full {
  margin-top: 50px;
}

.join .join_wrap form {
  top: 20px;
  margin-bottom: 51px;
}

/* 회원가입 동의 */

.join .join_wrap form .agree_01 {
  display: block;
}
.join .join_wrap form .agree_01 input {
}

.join .join_wrap form .agree_01 input .block {
  display: block;
}

.join .join_wrap form .agree_box {
  width: 100%;
  height: 120px;
  border: solid 2px #ddd;
  background-color: #fff;
  overflow: scroll;
  padding: 20px;
  margin-bottom: 54px;
  color: #707070;
}

.join .join_wrap form .agree_box::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.join .join_wrap form .agree_box_all {
  background-color: #fff;
  text-align: center;
}

.join .join_wrap form .solid {
  border: solid 2px #ddd;
}

.join .join_wrap form .agree_box_all span {
  top: 28px;
  font-weight: bold;
}

.join .join_wrap form .bold {
  font-weight: bold;
  font-size: 16px;
}

.join .join_wrap form button {
  margin-top: 102px;
}

/* 마이페이지 시작 */

.mypage .mypage_wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.mypagetitle {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.mypagetitle p {
  font-size: 16px;
}

.mypagetitle h3 {
  font-size: 24px;
}

.mypagetitle .btn-bg-mint {
  margin: 20px 0;
  font-weight: bold;
  font-size: 16px;
}

.mypage .title {
  font-size: 24px;
}

.mypage {
  letter-spacing: -1px;
}

.mypage h3 {
  font-size: 24px;
  padding: 20px 0;
}

.mypage .mypage_inner_01 {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.mypage .mypage_inner_01 .mypage_box {
  width: 25%;
  height: 150px;
  background-color: #f8f8f8;
  border: solid 2px #ddd;
  float: left;
  display: block;
  text-align: center;
  padding: 20px 20px 0 0;
  border-right: none;
  position: relative;
}

.mypage .mypage_inner_01 .mypage_box span {
  padding: 80px 0 0 0;
}

.mypage .mypage_inner_01 .mypage_box .mypage_box_img01 {
  position: absolute;
  background: url(../recources/imgs/rectangle_01.png) no-repeat center;
  background-size: 120px 80px;
  width: 100%;
  height: 80px;
}

.mypage .mypage_inner_01 .mypage_box .mypage_box_img02 {
  background: url(../recources/imgs/rectangle_02.png) no-repeat center;
  position: absolute;
  background-size: 120px 80px;
  width: 100%;
  height: 80px;
}

.mypage .mypage_inner_01 .mypage_box .mypage_box_img03 {
  background: url(../recources/imgs/rectangle_03.png) no-repeat center;
  position: absolute;
  background-size: 120px 80px;
  width: 100%;
  height: 80px;
}

.mypage .mypage_inner_01 .mypage_box .mypage_box_img04 {
  background: url(../recources/imgs/rectangle.png) no-repeat center;
  position: absolute;
  background-size: 120px 80px;
  width: 100%;
  height: 80px;
}

/* .mypage .mypage_inner_01 .mypage_box.solid {
  border-right: solid 2px #ddd;
} */

.mypage .mypage_inner_01 .mypage_box:last-child {
  border-right: solid 2px #ddd;
}

.mypage .mypage_inner_01 .mypage_box a {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypage .mypage_box.solid {
  border-bottom: solid 2px #ddd;
}

.mypage .mypage_inner_02 {
  display: flex;
  width: 100%;
}

.mypage .mypage_inner_02 .mypage_content_01 {
  width: 50%;
}

.mypage .mypage_inner_02 a {
  width: 100%;
}

.mypage .mypage_box_02 {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  line-height: 76px;
  border: solid 2px #ddd;
  border-right: none;
  font-size: 20px;
  /* margin-top: 28px; */
  background: url(../recources/imgs/invalid-name.png) no-repeat right center;
  background-size: 60px 60px;
  color: #707070;
  position: relative;
}

.mypage .mypage_box_02.solid {
  border-right: solid 2px #ddd;
}

.mypage .mypage_box_02 div {
  position: absolute;
  right: 50px;
  top: 20px;
  text-align: right;
}

.mypage .mypage_box_02 .point {
  color: #3ec4ba;
  font-weight: bold;
  margin-top: 4px;
}

/* 평가단 신청 리스트 */
.title_area.list h2 {
  font-size: 32px;
}

.title_area.list .line_14-100 {
  margin-top: 20px;
}

.eval .board.mypage_list .board_wrap .list .body {
  height: 100%;
  padding: 10px;
  font-size: 16px;
}

.eval .board.mypage_list .board_wrap .list .title_sub {
  width: 100%;
  padding: 30px 10px 10px 10px;
  text-align: right;
  position: relative;
  font-size: 20px;
}

.eval .board.mypage_list .board_wrap .list .title_sub.point01 {
  color: #707070;
}
.eval .board.mypage_list .board_wrap .list .title_sub.point02 {
  color: #3ec4ba;
}

/* 회원정보 수정 */
.eval .board.mypage_list .board_wrap .list .information {
  border: none;
}

.eval .board.mypage_list .board_wrap .list .information.user_list {
  width: 100%;
}

.eval
  .board.mypage_list
  .board_wrap
  .list
  .information.user_list
  li:first-child {
  width: 24%;
}

.eval
  .board.mypage_list
  .board_wrap
  .list
  .information.checkbox
  .checkbox_block {
  display: block;
}

.eval
  .board.mypage_list
  .board_wrap
  .list
  .information.checkbox
  .checkbox_block
  li {
  padding: 10px 0 0 0;
}

.eval .board.mypage_list .board_wrap .list input[type="checkbox"]:checked {
  background: #ddd;
  border: solid 1px #fff;
  cursor: default;
}

.eval
  .board.mypage_list
  .board_wrap
  .list
  .information.checkbox
  .checkbox_block
  span {
  color: #f00;
  font-weight: bold;
}

.eval .board.mypage_list .board_wrap a {
  float: right;
}

.eval .board.mypage_list .board_wrap .secession {
  color: #707070;
}

/* 회원 탈퇴 */

.eval .board .board_wrap {
  width: 100%;
}

.eval .board .board_wrap.secession_content {
  padding: 30px 40px 30px 40px;
}

.eval .board .board_wrap.secession_content .list_02 {
  width: 100%;
}

.eval
  .board
  .board_wrap.secession_content
  .list_02
  .secession_01
  .secession_text_00 {
  font-size: 16px;
  letter-spacing: -0.5px;
  padding: 19px 0 0 0;
}

.eval
  .board
  .board_wrap.secession_content
  .list_02
  .secession_01
  .secession_text_01
  li {
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 35px;
}

.eval
  .board
  .board_wrap.secession_content
  .list_02
  .secession_01
  .secession_text_01
  input {
  margin: 20px 0 40px 0;
}

.eval
  .board
  .board_wrap.secession_content
  .list_02
  .secession_01
  .secession_text_01
  label {
  top: 16px;
}

.eval .board .board_wrap.secession_content .list_02 .secession_02 {
  padding: 20px 0 20px 0;
}
.eval .board .board_wrap.secession_content .list_02 .secession_02 h4 {
  padding: 20px 0 20px 0;
}
.eval
  .board
  .board_wrap.secession_content
  .list_02
  .secession_02
  .secession_radio_btn {
  display: block;
  padding: 20px 0 0 0;
}

.eval
  .board
  .board_wrap.secession_content
  .list_02
  .secession_02
  .secession_radio_btn
  li {
  display: block;
  padding: 5px 0 10px 0;
}

.eval
  .board
  .board_wrap.secession_content
  .list_02
  .secession_02
  .secession_radio_btn
  textarea {
  vertical-align: top;
  width: 100%;
  /* line-height: 145px; */
  height: 145px;
  border: solid 2px #ddd;
}

.eval
  .board
  .board_wrap.secession_content
  .list_02
  .secession_02
  .secession_radio_btn
  textarea::placeholder {
  padding: 10px;
}

.eval .board .board_wrap.secession_content .secession_btn_area {
  width: 100%;
  text-align: center;
}

/* 1:1 문의 내역 답변 (none) */
.eval .board.mypage_list .board_wrap .serch {
  width: 100%;
  text-align: right;
}
.eval .board.mypage_list .board_wrap .serch input {
  width: 100%;
  max-width: 450px;
  height: 48px;
  border: solid 2px #ddd;
  caret-color: #ddd;
  margin-top: 30px;
}

.eval .board.mypage_list .board_wrap .serch button {
  width: 100%;
  max-width: 144px;
  height: 48px;
  border: solid 2px #3ec4ba;
  color: #3ec4ba;
  background: #fff;
  margin-top: 30px;
  font-size: 16px;
  text-align: center;
}

/* 1:1 문의 내역 답변 (view) */

.eval .board.mypage_list .board_wrap .list.view {
  padding: 0px 40px 0px 40px;
}

.eval .board.mypage_list .board_wrap .list.view .body {
  margin: 0 0 20px 0;
}

.eval .board.mypage_list .board_wrap .list.view .title_sub a {
  margin: 30px 0 0 0;
}

.eval .board.mypage_list .board_wrap .list.view .body.view {
  width: 100%;
  height: 100%;
  margin: 30px 0 50px 0;
}

.eval .board.mypage_list .board_wrap .list.view .body .title03 {
  width: 800px;
  height: auto;
  /* max-width: 1000px; */
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 0 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.eval .board.mypage_list .board_wrap .list.view .body.view .ordernumber {
  width: 100%;
  height: 44px;
  background: #f8f8f8;
  border: solid 2px #ddd;
  padding: 10px 20px;
  font-size: 16px;
}

.eval .board.mypage_list .board_wrap .list.view .body.view .view_text {
  margin: 30px 0 50px 0;
}

.eval .board.mypage_list .board_wrap .list.view .body.view .view_icon {
  background: url("../recources/icons/view.png") no-repeat left;
  width: 100%;
  height: 16px;
  background-size: 16px 16px;
}

.eval .board.mypage_list .board_wrap .list.view .body.view .view_icon h4 {
  margin-left: 21px;
  font-weight: bold;
}

.eval .board.mypage_list .board_wrap .list.view .body.view .view_text_02 {
  margin: 30px 0 0 0;
  padding-left: 20px;
}

.eval .board.mypage_list .board_wrap .list.view .body.view .view_text_02 .day {
  padding-top: 50px;
}

.eval .board.mypage_list .btn_page {
  margin-top: 50px;
  width: 100%;
}

.eval .board.mypage_list .btn_page button {
  width: 160px;
  height: 48px;
  background: #fff;
  border: solid 2px #ddd;
  font-size: 16px;
  font-weight: bold;
  color: #707070;
}

.eval .board.mypage_list .btn_page span {
  float: right;
}

/* 1:1 문의 내역 답변 (list) */
.eval .board .board_wrap .list .body .title p {
  font-size: 16px;
  font-weight: 600;
}

/**** 고객센터 ****/

.eval .board.mypage_list .board_wrap .tab_menu {
  position: relative;
  width: 100%;
  height: auto;
}
.eval .board.mypage_list .board_wrap .tab_menu .list_tab {
  overflow: hidden;
  display: flex;
  border-bottom: solid 4px #3ec4ba;
}
.eval .board.mypage_list .board_wrap .tab_menu .list_tab li {
  float: left;
  margin-top: 20px;
  width: 100%;
}
.eval .board.mypage_list .board_wrap .tab_menu .list_tab .btn_list {
  font-size: 20px;
  width: 100%;
  height: 70px;
  text-align: center;
  font-size: 20px;
  padding: 26px;
}
.eval .board.mypage_list .board_wrap .tab_menu .list_tab .is_on .btn_list {
  color: #fff;
  background: #3ec4ba;
  width: 100%;
  height: 70px;
  text-align: center;
}
.eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont {
  display: block;
  /* background: #ddd; */
  width: 100%;
  height: auto;
  line-height: 100px;
  padding: 30px 40px 30px 40px;
}

.eval .board.mypage_list .board_wrap .tab_menu .list_tab .cont_area .cont {
  display: none;
}

.eval
  .board.mypage_list
  .board_wrap
  .tab_menu
  .cont_area
  .cont
  li
  input::placeholder {
  font-size: 16px;
  letter-spacing: -0.5px;
  padding: 15px;
  color: #aeaeae;
}

.eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .tab-01 {
  margin-top: 20px;
}
.eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont li {
  padding: 10px 0px 10px 20px;
  display: flex;
}

.eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .btn_area_50 {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .btn-50-full {
  width: 50%;
  text-align: center;
}

.eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont li input {
  text-align: left;
}
.eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .tab-01 li p {
  width: 20%;
}
.eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .tab-02 li p {
  width: 25%;
}

.eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .tab-04 li p {
  width: 25%;
}
.eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .tab-01 select {
  width: 100%;
  max-width: 540px;
  height: 48px;
  border: solid 2px #ddd;
  background: url("../recources/icons/arrow-option.png") no-repeat 95% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 16px;
  color: #aeaeae;
  padding: 0 15px;
}

.eval
  .board.mypage_list
  .board_wrap
  .tab_menu
  .cont_area
  .cont
  .tab-01
  select
  option {
  padding: 20px;
}

.eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .tab-02 input {
  width: 100%;
  height: 48px;
  border: solid 2px #ddd;
  text-align: left;
}

.eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont .tab-03 li p {
  width: 25%;
}

.eval
  .board.mypage_list
  .board_wrap
  .tab_menu
  .cont_area
  .cont
  .tab-03
  li
  span {
  width: 100%;
}

.eval
  .board.mypage_list
  .board_wrap
  .tab_menu
  .cont_area
  .cont
  .tab-03
  span
  input {
  width: 100%;
  max-width: 450px;
  height: 48px;
  border: solid 2px #ddd;
}

.eval
  .board.mypage_list
  .board_wrap
  .tab_menu
  .cont_area
  .cont
  .tab-04
  textarea {
  width: 100%;
  max-width: 974px;
  height: 96px;
  border: solid 2px #ddd;
}

.eval
  .board.mypage_list
  .board_wrap
  .tab_menu
  .cont_area
  .cont
  li
  textarea::placeholder {
  font-size: 16px;
  letter-spacing: -0.5px;
  padding: 15px;
  color: #aeaeae;
}

.eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont.con_02 {
  display: none;
  /* background: #ddd; */
  width: 100%;
  height: auto;
  line-height: 100px;
  padding: 30px 40px 30px 40px;
  letter-spacing: -0.5px;
  font-size: 16px;
}

.eval .board.mypage_list .board_wrap .tab_menu .cont_area .cont.con_02 span {
  font-weight: bold;
}

/* 모달 시작 */

/* 상세 모달 */
.modal {
  position: fixed;
  display: block;
  width: calc(100%-24px) !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  height: 100% !important;
  font-family: SpoqaHanSans;
}
.modal .modal-background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.9;
}
.modal .modal-dialog {
  width: 100%;
  height: 100%;
  max-width: 680px;
  max-height: 500px;
  background-color: #fff;
  margin: 0;
  /* padding: 10px 10px 0 5px; */
  position: fixed;
  /* border-radius: 2rem; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
}

.modal .modal-dialog .modal-dialog-title {
  font-size: 16px;
  font-weight: 900;
  letter-spacing: -1px;
  color: #000000;
  margin-bottom: 30px;
}

.modal .modal-dialog .modal-dialog-title .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  font-size: 15px;
  background-size: 40px 40px;
  cursor: pointer;
  background: url("../recources/icons/del.png");
}
.modal .modal-dialog .modal-dialog-description {
  font-size: 22px;
  font-weight: normal;
  letter-spacing: -1px;
  color: #000000;
}
.modal .modal-dialog .modal-dialog-contents {
  width: 100%;
  overflow: auto;
  font-size: 16px;
}

.modal .modal-dialog .modal-dialog-contents .modal-dialog-contents-title {
  width: 100%;
  height: 280px;
  overflow: scroll;
  font-size: 16px;
  -ms-overflow-style: none;
}
.modal
  .modal-dialog
  .modal-dialog-contents
  .modal-dialog-contents-title::-webkit-scrollbar {
  display: none;
}

.modal .modal-dialog .modal-dialog-contents .modal-dialog-contents-text {
  width: 100%;
  font-size: 16px;
}

.modal .modal-dialog .modal-dialog-contents .modal-dialog-contents-text h4 {
  line-height: 24px;
  letter-spacing: -1px;
  padding-bottom: 20px;
  font-size: 16px;
}

.modal .modal-dialog .modal-dialog-contents .modal-dialog-contents-text li {
  /* list-style-type: circle; */
  line-height: 30px;
  letter-spacing: -0.5px;
  font-size: 16px;
}
.modal .modal-dialog .modal-dialog-contents .modal-dialog-contents-text li {
  width: auto;
  list-style-position: inside;
  list-style-type: disc;
}

.modal
  .modal-dialog
  .modal-dialog-contents
  .modal-dialog-contents-text
  li
  strong {
  top: 4px;
}

.modal .modal-dialog .modal-dialog-contents .modal-dialog-contents-text-01 li {
  /* list-style-type: circle; */
  line-height: 30px;
  letter-spacing: -0.5px;
  font-size: 16px;
}
.modal .modal-dialog .modal-dialog-contents .modal-dialog-contents-text-01 li {
  width: auto;
  list-style-position: inside;
  list-style-type: disc;
}

.modal
  .modal-dialog
  .modal-dialog-contents
  .modal-dialog-contents-text
  li::marker {
  color: #000;
  font-size: 10px;
}

.modal .modal-dialog .modal-dialog-contents .modal-dialog-contents-text-01 {
  width: 100%;
  font-size: 16px;
  padding-bottom: 20px;
}

.modal .modal-dialog .modal-dialog-contents .modal-dialog-contents-text-01 li {
  list-style-type: disc;
  line-height: 30px;
}

.modal
  .modal-dialog
  .modal-dialog-contents
  .modal-dialog-contents-text-01
  li::marker {
  color: #000;
  font-size: 10px;
}

.modal .modal-dialog .modal-dialog-contents .modal-dialog-contents-text-01 h4 {
  line-height: 24px;
  letter-spacing: -0.5px;
  padding-top: 20px;
  font-size: 16px;
}

.modal .modal-dialog .btn {
  width: 100%;
  height: 72px;
  padding: 24px 0 22px 0;
  text-align: center;
  margin-top: 215px;
  /* background:#3ec4ba; */
}
.modal .modal-dialog .btn.normal {
  border-top: solid 1px #ddd;
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #707070;
  font-weight: 600;
}

.fade {
  opacity: 0;
  display: none;
}
.fade.in {
  display: block;
  -webkit-animation: fadein 0.2s linear forwards;
  animation: fadein 0.2s linear forwards;
}

@keyframes fadein {
  100% {
    opacity: 1;
    display: block;
  }
}

/* 배송지 모달  */

.modal .modal-container {
  width: 100%;
  height: auto;
  max-width: 680px;
  /* max-height: 500px; */
  background-color: #fff;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 30px 40px 0px 40px; */
}

.modal .modal-container .modal-container-title .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  font-size: 15px;
  background-size: 40px 40px;
  cursor: pointer;
  background: url("../recources/icons/del.png");
}

.modal .modal-container .modal-container-body {
  padding: 40px;
  line-height: 1.5em;
}

.modal .modal-container .modal-container-body .none {
  text-align: center;
  padding: 160px 0;
}

.modal .btn.btn_2ea {
  width: 100%;
  max-width: 680px;
  height: 72px;
  margin: 0 auto;
  background: #f00;
  display: flex;
  /* position: fixed;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.modal .btn.btn_2ea .modal_btn01 {
  width: 50%;
  flex: 1;
  background: #fff;
  border: solid 2px #ddd;
  font-size: 16px;
  color: #707070;
  font-weight: bold;
}

.modal .btn.btn_2ea .modal_btn02 {
  width: 50%;
  flex: 1;
  background: #fff;
  border: none;
  background: #3ec4ba;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}

/* 배송지 모달 (주소) */

.modal .modal-container-body .scroll {
  overflow: scroll;
  height: 364px;
  margin-top: 30px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.modal .modal-container .scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.modal .modal-container .modal-container-body {
  /* margin-top: 30px; */
}

/* .modal .btn.btn_2ea {
  width: 100%;
  max-width: 680px;
  height: 72px;
  margin: 0;
  background: #f00;
  display: flex;
  position: fixed;
  top: 84%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.modal .modal-container .modal-container-body .modal-container-box {
  width: 100%;
  max-width: 600px;
  height: auto;
  border: solid 2px #ddd;
  margin-top: 10px;
  font-size: 16px;
  padding: 25px 20px;
  letter-spacing: -0.5px;
}

.modal .modal-container .modal-container-body .modal-container-box h3 {
  font-size: 16px;
  font-weight: bold;
}

.modal .modal-container .modal-container-body .modal-container-box h3 span {
  font-weight: 400;
  margin-left: 10px;
}

.modal .modal-container .modal-container-body .modal-container-box p {
  margin: 10px 0 10px 0;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.modal .modal-container .modal-container-body .modal-container-box .btn-3ea-01 {
  width: 54px;
  height: 30px;
  border: solid 2px #707070;
  color: #707070;
  font-size: 16px;
  font-weight: bold;
  background: #fff;
}
.modal .modal-container .modal-container-body .modal-container-box .btn-3ea-02 {
  width: 54px;
  height: 30px;
  border: solid 2px #3ec4ba;
  color: #3ec4ba;
  font-size: 16px;
  font-weight: bold;
  background: #fff;
}
.modal .modal-container .modal-container-body .modal-container-box .btn-3ea-03 {
  width: 54px;
  height: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: #3ec4ba;
  border: none;
}

/* 배송지 모달 (입력) */
.modal-container-body.adress {
  overflow: scroll;
  max-height: 554px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.modal-container-body.adress::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.modal-container-body .adress_input .adress_input04 .adress_pop {
  display: none;
  border: solid 2px #ddd;
  max-width: 500px;
  max-height: 200px;
  min-width: initial;
  position: relative;
  margin-bottom: 10px;

}

/* .modal-container-body.adress .adress_input .adress_input04 .adress_pop iframe{
  min-width: none;
} */

.modal-container-body.adress
  .adress_input
  .adress_input04
  .adress_pop
  #__daum__layer_1 {
  min-width: inherit;
}

.modal-container-body.adress
  .adress_input
  .adress_input04
  .adress_pop
  #__daum__layer_2 {
  min-width: 100px;
}

.modal-container-body.adress .adress_input .adress_input04 .adress_pop img {
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: -1px;
  z-index: 1;
}

.modal-container-body.adress
  .adress_input
  .adress_input04
  .adress_pop::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.modal-container-body .adress_input {
  margin-top: 30px;
}
.modal-container-body .adress_input label {
  width: 100%;
  max-width: 110px;
  margin-bottom: 8px;
  font-size: 16px;
  margin-right: 60px;
  top: 10px;
}

.modal-container-body .adress_input input {
  width: 100%;
  max-width: 490px;
  height: 48px;
  margin-bottom: 8px;
  border: solid 2px #ddd;
}

.modal-container-body .adress_input .adress_input02 label {
  top: 0;
}

.modal-container-body .adress_input .adress_input03 {
  width: 100%;
  max-width: 205px;
  height: 48px;
  margin-bottom: 8px;
  border: solid 2px #ddd;
}

.modal-container-body .adress_input .adress_input03 label {
  margin-top: 0;
}

.modal-container-body .adress_input label .adress_input03_btn {
  width: 144px;
  height: 48px;
  border: solid 2px #3ec4ba;
  background: #fff;
  font-size: 16px;
  font-weight: bold;
  color: #3ec4ba;
  margin: 0;
}

.modal-container-body .adress_input .adress_input04 {
  margin-left: 106px;
}

.modal-container-body .checkbox {
  font-size: 16px;
  color: #000;
  margin-top: 22px;
}

/* 휴대전화번호 변경 모달 */

.modal .modal-container.num {
  width: 100%;
  height: auto;
  max-width: 680px;
  /* max-height: 384px; */
  /* padding: 16px; */
}
.modal .modal-container .modal-container-title {
  padding: 16px;
}

.modal .modal-container .modal-container-title .btn-close {
  margin: 10px;
}

.modal .modal-container .modal-container-body.num {
  /* padding: 16px; */
  padding: 0 20px 64px 38px;
}

.modal .modal-container .modal-container-body.num .phonnum_input {
  width: 100%;
  font-size: 16px;
}

.modal .modal-container .modal-container-body.num .phonnum_input input {
  width: 100%;
  max-width: 450px;
  height: 48px;
  /* line-height: 145px; */
  border: solid 2px #ddd;
  caret-color: #ddd;
  margin-top: 10px;
}
.modal
  .modal-container.num
  .modal
  .modal-container
  .modal-container-body.num
  .phonnum_input
  input::placeholder {
  font-size: 16px;
  padding: 10px;
  color: #aeaeae;
  letter-spacing: -1px;
}

.modal .modal-container .modal-container-body.num .phonnum_input button {
  width: 100%;
  max-width: 144px;
  /* height: 48px; */
  line-height: 42px;
  border: solid 2px #3ec4ba;
  color: #3ec4ba;
  background: #fff;
  font-size: 16px;
  font-weight: bold;
}

.modal .modal-container .modal-container-body.num .phonnum_input p {
  padding: 5px;
  font-size: 12px;
}

.modal .modal-container .modal-container-body.num .phonnum_input .off {
  width: 100%;
  max-width: 144px;
  /* height: 48px; */
  line-height: 42px;
  border: solid 2px #ddd;
  color: #ddd;
  background: #fff;
  font-size: 16px;
  font-weight: bold;
}

.modal .btn.btn_2ea.num {
  top: 70%;
}

/* 비밀번호 변경 모달 */

.modal .modal-container .modal-container-body.num .pw_input {
  width: 100%;
  font-size: 16px;
}

.modal .modal-container .modal-container-body.num .pw_input input {
  width: 100%;
  max-width: 600px;
  height: 48px;
  /* line-height: 145px; */
  border: solid 2px #ddd;
  caret-color: #ddd;
  margin-top: 10px;
}

.modal .modal-container .modal-container-body.num .pw_input input::placeholder {
  font-size: 16px;
  padding: 10px;
  color: #aeaeae;
  letter-spacing: -1px;
}

.modal .modal-container .modal-container-body.num .pw_input p {
  padding: 5px;
  font-size: 12px;
}

.modal .btn.btn_2ea.num {
  top: 70%;
}
