public/data
.env
.env.example
node_modules
/public/storage
/storage/
config/app.php
/public/.htaccess
/app/Providers/AppServiceProvider.php
/vendor/laravel/framework/src/Illuminate/Routing/UrlGenerator.php
/public/robots.txt